@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
  .navbar-nav > li{
    padding-top: 15px;
    padding-right: 15px;
    display: inline-block;
  }
}

@media (min-width: 500px){
  .img-responsive{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

body {
  font-size: 1.5rem;
  font-family: 'Lora', serif;
}

nav {
  width: 100%;
}

.navbar-default{
  background-color: #428bca;
  border-color: #428bca;
}

.navbar{
  min-height: 75px;
  border: none;
}

.navbar-default .navbar-nav > li > a{
  color: #fff;
  font-family: 'Lora', serif;
  font-size: 2rem;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-family: 'Shadows Into Light', cursive;
  font-size: 3rem;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #fff;
}

.navbar-toggle{
  margin-top: 25px;
}

.navbar-nav{
  text-align: center;
}

.navbar-header{
  padding-bottom: 5px;
}

#navbar-img{
  height: 50px;
  width: auto;
}

.navbar-nav > li{
  float: none;
}

#fa-icon{
	display: inline-block;
	text-align: center;
}

a:hover {
	text-decoration: none;
}

.background{
  color: black;
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
}

.profile{
	padding: 10px 10px 10px 10px;
}

img{
  border: 2px solid #fff; /* changed from #ccc*/
}

.profile-content{
	padding-top: 10px;
	padding-left: 15px;
}

.skills{
	padding: 10px 10px 10px 10px;
}

.programming-technologies{
	padding-top: 10px;
	padding-left: 15px;
}

.problem-solving{
	padding-top: 10px;
	padding-left: 15px;
}

.leadership{
	padding-top: 10px;
	padding-left: 15px;
}

.communication{
	padding-top: 10px;
	padding-left: 15px;
}

.education{
	padding: 10px 10px 10px 10px;
}

#education-title{
	padding-bottom: 10px;
}

#education-row{
	border-top: 1px solid #cdcdcd;
	padding-bottom: 15px;
	padding-left: 15px;
}

#education-content{
	border-right: 1px solid #cdcdcd;
}

#education-dates{
  padding-top: 15px;
}

.work-experience{
	padding: 10px 10px 10px 10px;
}

#work-title{
	padding-bottom: 10px;
}

#work-row{
	border-top: 1px solid #cdcdcd;
	padding-bottom: 15px;
	padding-left: 15px;
}

#work-content{
 	border-right: 1px solid #cdcdcd;
}

#work-dates{
  padding-top: 10px;
}

.projects-container{
  color: #428bca;
}

.projects-title{
  margin-top: 50px;
  margin-bottom: 50px;
}

.project-container{
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 10px;
  margin-left: 5px;
  border-top: 1px solid #cdcdcd;
}

.project-details{
  padding: 10px 50px 10px 75px;
}

.img-responsive{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 25px;
  margin-bottom: 25px;
}
